body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

#createFundraiserButton {
  margin-bottom: 30px;
  /* width: 140px; */
  /* height: 40px; */
  background: #ff4e36;
  color: beige;
  font-weight: bold;
  border: 5px solid #ff4e36;
  border-radius: 30px;
  font-size: 20px;
}

.sidebar {
  height: 100vh;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #556b2f;
  overflow-x: hidden;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  padding-top: 20px;
}

.sidebar a {
  padding: 10px 15px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
}

.sidebar a:hover {
  color: #f5f5dc;
  background-color: #45523f;
  transition: background-color 0.3s ease;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.brand-name {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.mainContainer {
  margin-left: 230px; /* Sidebar 너비만큼 왼쪽 여백 */
  flex-grow: 1; /* 남은 영역을 차지 */
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  background-color: beige; /* 상위 배경색 (선택) */
}

.mainContent {
  margin-left: 200px;
  padding: 20px;
  background-color: #ffffff;
  width: calc(100% - 200px);
}
/* 
#profileSection,
#donationHistorySection,
#walletSection {
  display: none;
  padding: 20px;
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #556b2f;
  border-radius: 8px;
} */

#fundraiserSection,
#donationHistorySection {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#reputationSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fundraiserContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px; /* 각 그리드 항목 사이의 간격을 설정합니다. */
  margin: 0 auto; /* 중앙 정렬을 위한 마진 설정 */
  max-width: 960px; /* 최대 너비를 설정합니다. 필요에 따라 조절할 수 있습니다. */
  padding: 20px; /* 컨테이너의 안쪽 여백을 설정합니다. */
}

#fundraiserBox {
  border: 2px solid darkolivegreen;
  background-color: #f5f5dc;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  max-width: 100%;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  color: darkolivegreen;
  aspect-ratio: 1 / 1.3;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  box-shadow: inset 10px rgba(0, 0, 0, 0.5);
}

#fundraiserBox:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translateY(-5px);
}

#fundraiserBox .donationBox {
  display: block;
  width: 100%;
  padding: 0;
  border-radius: 5px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

#fundraiserBox .fundraiserHeading {
  font-size: 28px;
}

#fundraiserBox .fundraiserData {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #666;
}

#fundraiserBox .fundraiserData span {
  padding: 0;
}

#fundraiserBox .fundraiserDescription {
  font-size: 14px;
}

#fundraiserBox.tightSpacing h2,
#fundraiserBox.tightSpacing p {
  margin: 6px 0px; /* 각 텍스트 요소에 행간 간격 줄임 */
}

#profilePicPreview {
  max-width: 150px; /* 최대 너비를 150px로 설정 */
  max-height: 150px; /* 최대 높이를 150px로 설정 */
  width: auto; /* 원본 이미지의 비율을 유지하며 너비 자동 조절 */
  height: auto; /* 원본 이미지의 비율을 유지하며 높이 자동 조절 */
  border-radius: 50%; /* 이미지를 원형으로 표시 */
  display: block; /* 이미지를 블록 요소로 표시 */
  margin: 10px auto; /* 상하 10px, 좌우 자동 마진으로 중앙 정렬 */
}

button,
input[type="file"],
input[type="text"] {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #556b2f;
  border-radius: 4px;
  cursor: pointer;
}

.block-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.block-button:hover {
  transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none; /* 사이드바 숨기기 */
  }

  .mainContent {
    margin-left: 0;
    width: 100%; /* 전체 화면 차지 */
  }
}

.progressContainer {
  font-size: 90%;
  width: 90%;
  align-self: center;
}

/* 드롭다운 */

.dropdown-wrapper {
  display: flex;
  align-items: center;
}

#wallet {
  padding: 10px;
}
/* 드롭다운 기본 스타일 */
#walletSelector {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #42adff;
  border-radius: 25px;
  background-color: #eaf6ff;
  color: #012d4e;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(105, 158, 179, 0.5);
}

/* 포커스 시 효과 */
#walletSelector:focus {
  border-color: #008df9; /* 포커스된 테두리 색상 */
  box-shadow: 0 0 5px rgba(105, 158, 179, 0.5); /* 포커스된 그림자 효과 */
}

/* 드롭다운 리스트의 옵션 스타일 */
#walletSelector option {
  background-color: #ffffff; /* 옵션 배경색 */
  color: #333333; /* 옵션 텍스트 색상 */
  padding: 10px;
  border-radius: 8px; /* 옵션 테두리 둥글게 */
}

/* 프로필 */

/* .card-container {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70%;
  border: 2px solid darkolivegreen;
  background-color: #fffff3;
  border-radius: 30px;
  align-self: auto;
  align-items: center;

  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 1px 10px 1px #000;
  overflow: hidden;
  display: inline-block;
} */

#profileSection {
  overflow: hidden;
}

.horizontalLine {
  width: 60%;
  border-bottom: 2px solid #f0f0f0;
  margin-bottom: 20px;
}

.profileContainer h1 {
  color: #f0f0f0;
}

.profileContainer h3 {
  color: rgb(255, 204, 213);
}
.upper-container {
  height: 150px;
  width: 200%;
  background: darkolivegreen;
  border-top: 5px darkolivegreen;
}
.image-container {
  /* background: white; */
  width: 140px;
  height: 140px;
  border-radius: 50%;
  padding: 5px;
  /* transform: translate(100px, 100px); */
}
.image-container img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.lower-container {
  height: 280px;
  background: #fff;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
}
.lower-container h3,
h4 {
  box-sizing: border-box;
  line-height: 0.4;
  font-weight: 900;
}
.lower-container h4 {
  color: #7f00ff;
  opacity: 0.6;
  font-weight: bold;
}
.lower-container p {
  font-size: 16px;
  color: gray;
  margin-bottom: 30px;
}
.lower-container .btn {
  padding: 12px 20px;
  background: #7f00ff;
  border: none;
  color: white;
  border-radius: 30px;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease-in;
}
.lower-container .btn:hover {
  background: transparent;
  color: #7f00ff;
  border: 2px solid #7f00ff;
}

#reputationHeader {
  font-weight: normal;
}
/* 그래프 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);

.card {
  /* position: absolute; */
  height: 400px;
  width: 500px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 10px 15px 0 rgb(0 0 0 / 12%);
  overflow: hidden;
  margin-top: 20px;
}
.card .header {
  position: relative;
  height: 60px;
  width: 100%;
  background: darkolivegreen;
  color: #fff;
}
.card .header .big {
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.card .header .small {
  position: absolute;
  font-weight: 400;
  font-size: 11px;
}
.card .header .title {
  top: 12px;
  left: 15px;
  font-size: 20px;
}
.card .header .date {
  top: 30px;
  font-size: 14px;
  left: 15px;
  margin-top: 3px;
}
.card .header .type {
  top: 14px;
  right: 15px;
}
.card .header .value {
  top: 28px;
  right: 15px;
}
.card .parameter {
  text-align: right;
  padding: 10px 0 14px 0;
}
.card .parameter span {
  position: relative;
  font-size: 12px;
  color: #606060;
  line-height: 13px;
  padding: 0 10px 0 25px;
}
.card .parameter span:before {
  position: absolute;
  left: 6px;
  top: 6px;
  display: block;
  content: "";
  width: 11px;
  height: 3px;
  border-radius: 3px;
}
.card .parameter .red:before {
  background: #fa7373;
}
.card .parameter .blue:before {
  background: #7ba2ff;
}
.card .statistic {
  position: relative;
  height: 260px;
  width: 85%;
  margin: 0 auto;
}
.card .statistic .line-1 {
  position: inherit;
  top: 0%;
  height: 2px;
  background: #d8d8d8;
}

.card .statistic .line-2 {
  position: inherit;
  top: 50%;
  height: 2px;
  background: #c4c4c4;
}

.card .statistic .line-3 {
  position: inherit;
  top: 100%;
  height: 2px;
  background: #d8d8d8;
}

.card .statistic .data svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
}
.card .statistic .data polyline {
  fill: none;
  stroke-width: 3px;
  stroke-linecap: round;
}
.card .statistic .data.red polyline {
  stroke: #fa7373;
}
.card .statistic .data.blue polyline {
  stroke: #7ba2ff;
}
.card .statistic .data .tooltip {
  position: absolute;
  bottom: 13px;
  left: 50%;
  /* transform: translate3d(0, 10px, 0); */
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  padding: 8px 6px;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s;
}
.card .statistic .data .tooltip:after {
  position: absolute;
  display: block;
  content: "";
  height: 6px;
  width: 6px;
  left: 50%;
  margin-left: -3px;
  bottom: -3px;
  transform: rotate(45deg);
}
.card .statistic .data [class^="point-"] {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 10;
}
.card .statistic .data [class^="point-"]:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.card .statistic .data.red [class^="point-"],
.card .statistic .data.red .tooltip,
.card .statistic .data.red .tooltip:after {
  background: #fa7373;
}

.card .statistic .data [class^="point-"] {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 10;
}
.card .statistic .data .tooltip {
  position: absolute;
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  padding: 8px 6px;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s;
}

.card .statistic .data.blue [class^="point-"],
.card .statistic .data.blue .tooltip,
.card .statistic .data.blue .tooltip:after {
  background: #7ba2ff;
}

.reputationDescription {
  font-size: 25px;
  color: #1b1818;
  text-align: left;
  margin: 40px 0px 30px -80px;
}

.graphContainer {
  display: flex;
  align-items: center;
  border: 20px;
}

.vertical {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 13px;
  height: 260px;
  flex-direction: column;
}

.vertical p {
  line-height: 0px;
  margin: 0;
  font-weight: bold;
}
